/* ========================
    Global Styles
   ======================== */

body {
    background-color:#FFFFFF;
    border-color:#a2a9b1;
    color:#000000;
    font-family:sans-serif;
    font-size:14px;
}

/* ========================
    Content
   ======================== */

.bold {
    font-weight:bold;
}

.italic {
    font-style:italic;
}

.highlight {
    background-color:yellow;
}

.broken{
    color:#ff5e57;
}



h1 {
    font-family:'Linux Libertine Narrow';
    font-size:28.8px;
}

h2 {
    font-family:'Linux Libertine Narrow';
    font-size:21px;
}

h3 {
    font-size:16.8px;
}


/* =======    Link Subclasses must stay in this order or they won't work      ======= */

a:link {
    color:#0645ad;
    text-decoration: none;
}

a:visited{
    color:#0b0080;
}

a:hover{
   text-decoration: underline;
}



p {
    color:#202122;
}



th {
    background-color:#eaecf0;
    color:#000000;
}

td {

}



#title{
    border-color:transparent;
    border-bottom-color:#a2a9b1;
    border-style:solid;
    border-width:0.5px;
    height:35px;
}


.header{
    border-color:transparent;
    border-bottom-color:#a2a9b1;
    border-style:solid;
    border-width:0.5px;
    height:45px;
}


.table {
    background-color:#f8f9fa;
    border-color:#a2a9b1;
    border-style:solid;
    border-width:0.5px;
    padding:7px;
    height:260px;
    width:235px;
}   